.show-closest{
  display: none;
  
  @include breakpoint-down(sm) {
    display: flex;
    bottom: 0;
    background-color: red;
    font-size: 1rem;
    position: absolute;
    background-color: red;
    width: 30%;
    justify-content: center;
  }
}

.close-gardens{

  position: absolute;
  z-index: 1;
  background-color: rgb(124, 124, 124);
  opacity: 0.9;
  width: 20%;
  height:100vh;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;

  @include breakpoint-down(sm) {
    background-color: rgba(0, 0, 0, 0.911);
    gap: .2rem;
    width: 100%;
    padding: 1rem;
    font-size: 18px;    
  }
  //const icon = '/img/close-bgarden-back.svg';
  
  .garden{
    background-image: url("/img/close-bgarden-back.svg");
   
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 0.4rem;
    background-size: cover;
    max-height: 20%;
    gap: 1rem;

    @include breakpoint-down(sm) {
         
    }

    &:hover{
      opacity:0.85;
    }
  }

  .distance , .name{
    text-shadow: 2px 2px black;
    height: 24px;
    display: flex;
    gap: .4rem;
    bottom: 0;
    text-shadow: rgb(124, 124, 124);
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }

  .distance-icon{
    height: 20px;
  }

  &__button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

   &--prev{
    top: 0;
   }

   &--next{
    bottom: 0;
   }
  }
}