.close-gardens{

  position: absolute;

  z-index: 1;
  background-color: rgb(124, 124, 124);
  opacity: 0.9;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .garden{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 0.4rem;

    &:hover{
      opacity:0.85;
    }
  }

  .distance , .name{
    height: 24px;
    display: flex;
    gap: .4rem;
    bottom: 0;
    text-shadow: rgb(124, 124, 124);
  }

  .distance-icon{
    height: 20px;
  }
}