.show-closest{
  display: none;
  
  @include breakpoint-down(sm) {
    display: flex;
    bottom: 0;
    font-size: 1rem;
    position: absolute;
    justify-content: center;
    width: 100%;
    
    .show{
      padding: 1rem;
      border-radius: 8px 8px 0 0;
      background-color: #8b8b8b;
    }
  }
}

.close-button{
  display: none;

  @include breakpoint-down(sm) {
    display: block;    
  }
}

.close-gardens{
  position: absolute;
  background-color: rgb(124, 124, 124);
  z-index: 8;
  opacity: 0.9;
  width: 20%;
  height:100vh;
  display: flex ;
  flex-direction: column;
  
  @include breakpoint-down(sm) {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.911);
    gap: .2rem;
    width: 100%;
    padding: 1rem;
    font-size: 18px;    
  }
  
  .garden{
    border-radius: 8px;
    background-image: url("/img/close-bgarden-back.svg");
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 0.4rem;
    background-size: cover;
    max-height: 20%;
    gap: 1rem;

    @include breakpoint-down(sm) {
         
    }

    &:hover{
      opacity:0.85;
    }
  }

  .distance , .name{
    text-shadow: 2px 2px black;
    height: 24px;
    display: flex;
    gap: .4rem;
    bottom: 0;
    text-shadow: rgb(124, 124, 124);
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }

  .distance-icon{
    height: 20px;
  }

  &__button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 3.5rem;
    left: 50%;
    transform: translateX(-50%);

   &--prev{
    top: 0;
   }

   &--next{
    bottom: 0;
   }
  }
}