.comment-form{

  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 1.2rem;

  &__name{
    color: #000;
    font-size: 18px;
    width: 75%;
    padding: .7rem;
    border-radius: 8px;

    @include breakpoint-down(sm) {
      width: 100%;
      text-wrap: wrap;
      overflow: hidden;
    }
  }

  label{
    color: #FFF;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
  }

  ::placeholder{
    color: #8b8b8b;
    font-size: 13px;
    font-style: italic;
  }

  &__comment{
    color: #000;
    font-size: 18px;
    width: 75%;
    padding: .7rem;
    height: 200px;
    border-radius: 8px;
    @include breakpoint-down(sm) {
      width: 100%;
    }
  }

  .send-comment{
    padding: 1.2rem;
    background-color: #313b31;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: fit-content;
    font-size: 18px;
  }
}