.header{
  display: flex;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.568);
  margin-top: .5rem;
  padding: .5rem;

  
  &-mobile{

    display: none;
  }

  @include breakpoint-down(sm) {
  }
  & > * {
    z-index: 2;
  }
  
  &>div{
    margin-left: 4rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 100;
    font-size: 16px;

    &:hover{
      opacity: .8;
      cursor: pointer;
    }

    &>img{
      height: 36px;
    }
  }

  
}

