.header{
  display: flex;
  background-color: rgba(0, 0, 0, 0.568);
  padding: .5rem;
  overflow: hidden;
  justify-content: space-between;
  transition: top 0.2s ease-in-out;

  @include breakpoint-down(sm) {
    // margin-top: 2rem;
    background-color:transparent;
  }
  
  &>div{
    
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 100;
    font-size: 16px;

    &:hover{
      opacity: .8;
      cursor: pointer;
    }

    &>img{
      height: 36px;
    }
  }

  &__back{   
    
    margin-left: 4rem;
    margin-right: 1rem;
    &>div{
      display: flex; 
      gap: 1rem;
      align-items: center;

    }
  }

  &__navigation {

    @include breakpoint-down(sm) {
      display: none !important;
    }

    &> div{
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    justify-content: space-evenly;
    width: 100%;
    &__title{
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }


  
}

