.show-comments{
  margin: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  
  .comment{
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 8px;

    @include breakpoint-down(sm) {
      width: 100%;
      text-wrap: wrap;
      overflow: hidden;
    }

    &__name-and-time{
      padding: 1rem;
      display: flex;
      flex-direction: row;
      width: auto;
      gap: 1rem;
      color: #8b8b8b;
      font-size: 16px;
      font-style: italic;

      .name {
        color: #FFF;
      }
    }

    &__text{
      display: flex;
      align-items: center;
      padding-left: 26px;
      padding-bottom: 16px;
      min-height: 20px;
      margin-top: 10px;
      gap: 1rem;
      font-size: 18px;
      img {
      height: 20px;
      }
    }
  }
  
}