.footer{
  display: none;
  
  @include breakpoint-down(sm){
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 100;
    font-size: 16px;
    overflow: hidden;
    justify-content: space-evenly;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.452);

    &__navigation--add-to-favourites , &__navigation--go-to-favourites , &__home{
      display: flex;
      flex-direction: column;
      gap: .5rem;
      justify-content: center;
      align-items: center;

    }
  }
}