@import "footer";
@import "tablet";
@import "biergarten-finder";
@import "search";
@import "close-gardens";
@import "header";
@import "show-comments";
@import "detail-page";
@import "weather";
@import "comment-form";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

body{

  // font-family: Source Sans Pro;
  background-image: url("/img/details-background.svg");
  background-size: cover;
  font-family: Source Sans Pro;
  width: 100%;
  height: 100hv;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-position: center -69px;
  background-color: #000;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  line-height: 22px;

  // &::before{
  //   inset: 0;
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   background: #00000070;
  //   z-index: 1;
  // }
   
}

.container{
  height: 100vh;
  position: relative;
}

h1,h1 a {
  font-size: 36px;
  line-height: 36px;		/* Changing this will break the baseline grid. */
  margin-bottom: 24px;	/* Changing this will break the baseline grid. 24 */
   margin-top: 26px;
  /* font-family:"Covered By Your Grace", sans-serif; */
  font-family: Arial, Helvetica sans-serif;
  font-weight: 800;
  color:#FFF;
  
  }
  
  h2{
  color:#222;
  font-size: 22px;
  font-family:'Open Sans', serif;
  font-weight: 100;
  padding: 0;
  line-height: 33px;
  margin-bottom: 7px;
  margin-top: 30px;
  }

.mastah{
  height: 1470px;
}

.title{
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info{
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
}
